<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Popcorn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECBFE8881E2FFEE3003ABF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECBFE8991E2FFEE4003ABF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECBFE8A41E2FFEE4003ABF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
